*{
    padding: 0px;
    margin: 0px;
    color: rgb(50, 48, 48);
    
    
}

.image1{
    height: auto;
    display: block;
    background-size: cover ;

}
.main-container{
    background-image: url(images/veg.jpg) ;
    background-color: yellowgreen;
    background-image: no-repeat;
    background-size:cover ;
    display: flex;
    justify-content: center;
    padding-top:19% ;
    padding-bottom: 19%;
    overflow-x:hidden;
}


.image2{
    background-image: url(images/final.jpg) ;
    background-size: cover;
    height: auto;
    background-position: center;
}

.red{
    color: red;
    display: block;
    text-align: left;
}

.inputs-details{   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    gap: 30px;
    border-radius: 50px;
    margin-top: 40px;
    
}
.manager{
    margin-top: 20px;
}

.username{
    height: 35px;
    width: 300px;
    border-radius: 7px;
    padding-left: 7px;    
}
.password{
    height: 35px;
    width: 300px;
    border-radius: 7px;
    padding-left: 7px; 
}
.button{
    
    height: 30px;
    width:150px;
    background: rgb(33, 159, 159);
    border: none;
    border-radius: 7px;
    color: solid rgb(23, 18, 18);
    font-size: large;
    margin-left: 140px;
    margin-top: 10px;

    
}
.button:hover{
    background-color: rgb(239, 144, 11);

}



.heading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid;
    
}
.icon{
    padding-left: 30px;
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border: 1px solid rgba(20, 18, 18, 0.214);
    color: rgba(22, 20, 20, 0.866);
}


.navbar{
   
    display: flex;
    gap: 40px;
    justify-content: center;
    height: 70px;
    width: 1000px;
    align-items: center;
    border: 1px solid rgba(20, 18, 18, 0.214);
    color: rgba(22, 20, 20, 0.866);

}
.dashboard{
    height: 30px;
    width: 130px;
    border: none;
    background-color: transparent;
    font-size: larger;
    
    
    
}
.dashboard:hover{
    
    color: white;
    backdrop-filter: blur(20px);
    

}
.transaction{
    height: 30px;
    width: 130px;
    border: none;
    background-color: transparent;
    font-size: larger;
    
}
.transaction:hover{
    color: white;
    backdrop-filter: blur(20px);
}

.history{
    height: 30px;
    width: 130px;
    border: none;
    background-color: transparent;
    font-size: larger;
}
.history:hover{
    backdrop-filter: blur(20px);
    color: white;
}

.profile{
   
    display: flex;
    height: 70px;
    width: 285px;
    align-items: center;
    border: 1px solid rgba(20, 18, 18, 0.214);
    color: rgba(22, 20, 20, 0.866);
    
}
.setting{
    padding: 10px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    
}
.settingicon{
    background-color: transparent;
    border: none;
}
.bellicon{
    background-color: transparent;
    border: none;
}
.profileicon{
    background-color: transparent;
    border: none;
}

.settingicon:hover{   
    cursor: pointer; 
    border: none;  
    

}
.bellicon:hover{
    background-color:transparent;
    cursor: pointer; 
    border: none;  

}
.profileicon:hover{
    background-color: transparent;
    cursor: pointer;   

}
.balance{
    height: 250px;
    width: 630px;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 40px;   
  
}
.expense{
    height: 210px;
    width: 290px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 1px 1px 1px 1px;
    border-color: white;
    
    
}
.overview{
    padding: 20px;
    font-size: large;
    
}
.income{
    height: 210px;
    width: 290px;
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(238, 229, 229);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 1px 1px;
    
}
.rupee{
     align-items: center;
     display: flex;
     padding-left: 7px;
     color: #2e2222aa;
}
.rupees{
    color: rgb(234, 236, 238);
}
.Expenses{
    padding: 20px;
    font-size: large; 

}
.totel{
   padding-left: 20px; 
   
   
}
.totelincome{
    height: 50px;
    width: 250px;
    background-color: rgba(245, 244, 244, 0.966);
    backdrop-filter: blur(20px);
    border-radius: 7px;
    color: #40AC7C;
    font-size: 20px;
    text-align: center;   
}
.toteloutcomes{
    height: 50px;
    width: 250px;
    background-color: rgba(245, 244, 244, 0.966);
    backdrop-filter: blur(20px);
    border-radius: 7px;
    color: blue;
    font-size: 20px;
    text-align: center;   
}
.saving{
    height: 240px;
    width: 600px;
    margin-top: 20px;
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(238, 229, 229);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 1px 1px;
}
.headings{
    display: flex;
    justify-content:space-between ;
    padding: 5px;
    border: none;
    padding-left: 20px;
}
.petrol{
    height: 100%;
    width: 300px;
    font-size: larger;
    display: flex;
    align-items: flex-end;
    justify-content:space-around ;
    border-left:   dashed;
    border-right:  dashed ;
    border-color: rgba(116, 110, 110, 0.666);    
}
.electicity{
    height: 100%;
    width: 300px;
    font-size: larger;
    display: flex;
    align-items: flex-end;
    justify-content:space-around ;
    border-right:  dashed;
    border-color: rgba(116, 110, 110, 0.666);
}

.heading2{
display: flex;
height: 150px;
padding: 10px;
background: transparent;
}
.paragraph2{
   font-size: 20px;
}
.savingplan{
    padding-left: 15px;
    
}
.main{  
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}

.mobilerecharge{
    height: 100%;
    width: 300px;
    font-size: larger;
    display: flex;
    align-items: flex-end;
    justify-content:space-around ;
    border-right:  dashed;
    border-color: rgba(116, 110, 110, 0.666);
}

.add{     
    width: 600px;
    margin: 0px auto;
    box-shadow: 100px;
    border-radius: 7px;
    backdrop-filter: blur(20px);
    border: 3px solid rgb(238, 229, 229);
    margin-top: 40px;
    
    
}

.trasactionheading{ 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    background-color: rgb(43, 40, 40);
    color: rgb(193, 198, 203);
    border-radius: 7px;
    
}

.amount{ 
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding-left: 5px;
}
.haed{
    margin-left: 40px;
}
.types{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.type{
    height: 30px;
    width: 500px;
    margin-left: 40px;
    border-radius: 7px;
    padding-left: 5px;
}
.exbutton{
    width:505px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.remark{
    height: 30px;
    width: 500px;
    margin-left: 40px;
    border-radius: 7px;
    padding-left: 5px;
   
}
.date{
    height: 30px;
    width: 505px;
    margin-left: 40px;
    border-radius: 7px;
    padding-left: 5px;
}

.addbutton{
    width:200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 180PX;
    border-radius: 7px;
    font-size: larger ;
    

}
.addbutton:hover{
    backdrop-filter: blur(20px);
    cursor: pointer;
    box-shadow: 20px;
    background-color: transparent;
}

.table{
    border-collapse:collapse;
     
}





